/**
 *  Created by Colcamex Resources Inc. for the Centre for Relationship Based Care.
 *  Intended for use through the Creative Commons General License.
 *	All rights reserved 2016.
 */
 @page {
   size: A4;
   margin: 0;
 }
 
 @MEDIA Print {
 
 	html, body {
	    width: 210mm;
	    height: 297mm;
  	}
  	
 	.no-print {
 		display:none;
 	}
 	
 	#mds-content {
 		position:absolute;
		margin: 0px !important;
		padding:0px !important;
		top:0px;
		left:0px;
	}
	
	#mds-content div.tab-pane {
		display:block;
	}
 }
 
 /* END PRINT STYLES */

 #mds-content {
 	margin-top:50px !important;
 	margin-bottom: 50px !important;
 }
 
 img {
 	position:relative !important;
 	width:750px !important;
 }
 
 div#medication_table {
 	font-size:10px !important;
 }
 
.scrollable-menu {
	height: auto;
    max-height: 250px;
    overflow-x: hidden;	
}

 .uppercase {
 	text-transform: uppercase;
 }
 
 #mds-content div.tab-pane {
 	position:relative;
 	page-break-after:always;
 }
 
 fieldset {
 	margin:0px;
 	padding:0px;
 }
 
 input.singlebox, input.multibox, .checkbox-custom {
  	position:absolute;	
 }
 
 input.singlebox, input.multibox, .checkbox-custom {
 	background-color:transparent;
	border:none;
 	border:0px;
 	scrollbar-3dlight-color: transparent;
	scrollbar-3dlight-color: transparent;
	scrollbar-arrow-color: transparent;
	scrollbar-base-color: transparent;
	scrollbar-darkshadow-color: transparent;
	scrollbar-face-color: transparent;
	scrollbar-highlight-color: transparent;
	scrollbar-shadow-color: transparent;
	scrollbar-track-color: transparent;
	background: transparent;
	overflow: hidden;
 }
 
 input.multibox {
 	letter-spacing:8px;
 }
 
 ul.pagination {
 	margin:0px !important;
 }
 
 form.navbar-form {
 	border:none !important;
 }
 

.checkbox-custom {
    cursor: pointer;
}

.checkbox-custom  {
    content: '';
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    text-align: center;
}

.checkbox-custom:checked  {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: rebeccapurple;
    color: #fff;
}

.checkbox-custom:focus {
  outline: 1px solid #ddd; /* focus style */
}
